<html>
<head>
<title>index</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
	<ul class="nav bg-dark fixed-top ">
 
	<li class="nav-item active">
		
<a class="nav-link text-white" href="#">Logo</a></li>
<li class="nav-item ">
<a class="nav-link text-white" href="#">About</a></li>
<li class="nav-item ">
<a class="nav-link text-white" href="#">services</a>
<li class="nav-item">
<a class="nav-link text-white" href="#">Portfolio</a></li>

<li class="nav-link col-2"></li>
<li class="nav-link col-5"></li>
<li class-"nav-link col-4"></li>
<li class="nav-item pl-5">
<a class="nav-link text-white" href="#">contact</a>
</li>
</ul>
<div class="container">
	<div class="col-md-12">
	<div class="row">
	<h1 class="h1 mt-5"> Portfolio <small>recent Work</small> </h1>
</div>
</div>

	<div class="row p-1">
		<div class="col-md-6">
			<img class="img-responsive mr-1 w-100" src="images/img1.jfif">
			<h3 style=color:info><a href="#" data-toggle="tooltip" title="">project title</a></h3>
			<p> upon yielding, kind sea subdue very seed sixth them lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
		</div>
		<div class="col-md-6">
			<img class="img-responsive w-100" src="images/img2.jfif">
			<h3 style=color:info><a href="#" data-toggle="tooltip" title="">project title</a></h3>
			<p> upon yielding, kind sea subdue very seed sixth them lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
		</div>

	</div>
		<div class="row">
		<div class="col-md-6">
			<img class=" img-responsive mr-1 w-100" src="images/img3.jfif" height="300px" width="350px">
			<h3 style=color:info><a href="#" data-toggle="tooltip" title="">project title</a></h3>
			<p> upon yielding, kind sea subdue very seed sixth them lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
		</div>
		<div class="col-md-6">
			<img class="img-responsive w-100" src="images/img4.jfif">
			<h3 style=color:info><a href="#" data-toggle="tooltip" title="">project title</a></h3>
			<p> upon yielding, kind sea subdue very seed sixth them lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
		</div>
	</div>
<div class="row">
		<div class="col-md-6">
			<img class="img-responsive mr-1 w-100" src="images/img5.jfif">
			<h3 style=color:info><a href="#" data-toggle="tooltip" title="">project title</a></h3>
			<p> upon yielding, kind sea subdue very seed sixth them lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
		</div>
		<div class="col-md-6">
			<img class="img-responsive w-100" src="images/img6.jfif">
			<h3 style=color:info><a href="#" data-toggle="tooltip" title="">project title</a></h3>
			<p> upon yielding, kind sea subdue very seed sixth them lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
		</div>
	</div>
	<!--pagination-->
	<div class="row mt-4">
		<div class="col-lg-12">
	<ul class="pagination pagination-lg justify-content-center">
		<li class="page-item">
			<a href="#" class="page-link"><<</a></li>
			<li class="page-item active">
			<a href="#" class="page-link">1</a></li>
<li class="page-item">
			<a href="#" class="page-link">2</a></li>
<li class="page-item">
			<a href="#" class="page-link">3</a></li>
<li class="page-item">
			<a href="#" class="page-link">4</a></li>
<li class="page-item">
			<a href="#" class="page-link">5</a></li>
<li class="page-item">
			<a href="#" class="page-link">>></a></li>
</div>
</div>

	</ul>


	</div>
	<footer>
	<div class="footer">
		<div class="container-fluid h-50 text-center bg-info ">
			<div class="row">
				<div class="col-sm-4 mt-5">
					<img  class="rounded-circle" src="images/img7.jfif">
					<h2>my stuff</h2>
					<p> upon yielding, kind sea subdue very seed sixth them lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
					<a class="btn btn-primary">More Stuff</a>			
				</div>
				<div class="col-sm-4 mt-5">
					<img  class="rounded-circle" src="images/img8.jfif">
					<h2>your stuff</h2>
					<p> upon yielding, kind sea subdue very seed sixth them lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
					<a class="btn btn-primary">More Stuff</a>			
				</div>
				<div class="col-sm-4 mt-5">
					<img  class="rounded-circle" src="images/img9.jfif">
					<h2>our stuff</h2>
					<p> upon yielding, kind sea subdue very seed sixth them lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
					<a class="btn btn-primary">More Stuff</a>			
				</div>
			</div>

		</div>

	</div>
</div>
<div class="copy right  text-center mt-4">
	<div class="container">
		<p> copyright &copy; example.com 2015 </p>
	</div>
</div>
</footer>

</body>
</html>