<html>
<head>
<title>index</title>
<link rel="stylesheet" type="text/css" href="css/task2.css">
</head>
<body>
	<div class="a">
		<h1>MY WEB SITE</h1>
	<h1>A WEB SITE CREATED BY ME </h1>
</div>
<div class="b">
<a href="https://www.google.com">Link</a>
<a href="https://www.google.com">Link</a>
<a href="https://www.google.com">Link</a>
<a href="https://www.google.com" class="right">Link</a>
</div>
<div class="container">
<div class="c">
	<h1>ABOUT ME</h1>
	<p>PHOTO OF ME</p>
	<div class="i">
	image
   </div>

	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

	<h1>MORE TEXT</h1><br>
	Lorem ipsum dolor sit name.
	<div class="abc">
	image
  </div>
  <div class="efg">
	image
  </div>
  <div class="hij">
	image
  </div>


</div>
	<div class="d">
	<h2>TITLE HEADING</h2>
	<p>Title description,Dec 7,2017</p>
	<div class="j">
		image
	</div>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>	
	<h2>TITLE HEADING</h2>
	<p>Title description,Dec 8,2017</p>
	<div class="k">
		image
	</div>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	    </div>
	    <div class="z">
		<center>
		<h4>FOOTER</h4>
	</center>
	</div>
	<div><center>&copy;developed by naveen</center></div>


</body>