<html>
<head>
<title>index</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
	<ul class="nav bg-dark fixed-top ">
 
	<li class="nav-item active">
		
<a class="nav-link text-white" href="#">Logo</a></li>
<li class="nav-item ">
<a class="nav-link text-white" href="#">About</a></li>
<li class="nav-item ">
<a class="nav-link text-white" href="#">services</a>
<li class="nav-item">
<a class="nav-link text-white" href="#">Portfolio</a></li>

<li class="nav-link col-2"></li>
<li class="nav-link col-5"></li>
<li class-"nav-link col-4"></li>
<li class="nav-item pl-5">
<a class="nav-link text-white" href="#">contact</a>
</li>
</ul>